@model IEnumerable<Domains.Models.Bicycle>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Список</h1>

<p>
    <a asp-action="Create">Создать</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ModelName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ModelName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BicycleId">Обновить</a> |
                <a asp-action="Details" asp-route-id="@item.BicycleId">Детали</a> |
                <a asp-action="Delete" asp-route-id="@item.BicycleId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
