@model IEnumerable<Domains.Models.Supplier>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Список</h1>

<p>
    <a asp-action="Create">Созадать</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SupplierName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupplierType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactInfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierType.SupplierTypeName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SupplierId">Обновить</a> |
                <a asp-action="Details" asp-route-id="@item.SupplierId">Детали</a> |
                <a asp-action="Delete" asp-route-id="@item.SupplierId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
