@model Domains.Models.PartBicycle

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Детали</h1>

<div>
    <h4>Детали велосипеда</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantityRequired)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantityRequired)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bicycle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bicycle.ModelName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Part)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Part.PartName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PartBicycleId">Обновить</a> |
    <a asp-action="Index">Вернуться</a>
</div>
