@model Domains.Models.PartOrder

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>PartOrder</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpectedDeliveryDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpectedDeliveryDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountofBicycles)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountofBicycles)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bicycle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bicycle.BicycleId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PartOrderId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
